 .hide li {
   display: none;
 }

 .show {
   height: 40px;
 }

 .menu {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   background-color: black;
 }

 .menu .btn {
   align-self: flex-end;
 }

 .menu li {
   font-size: 1.3rem;
   width: 100%;
   color: white;
   background-color: black;
   font-family: roboto;
   text-decoration: none;
   padding: 10px;
 }

 .menu a:visited,
 .menu a:link {
   text-decoration: none;
 }

 .menu a {
   color: white;
 }