 .hide li {
   display: none;
 }

 .show li {
   height: 45px;
 }

 .menu {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   padding: 15px;
   padding-right: 35px;
   background-color: black;
   font-size: 1.3rem;
   font-family: roboto;
 }

 .show li {
   margin-top: 10px;
   padding-top: 10px;
 }

 .show a {
   color: white;
   text-decoration: none;
 }