.header {
  text-align: center;
  font-family: roboto;
  margin-top: 12vh;
}

.header h1 {
  margin-top: 5vh;
}

.gol {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.4vw;
  font-family: monospace;
  line-height: 0.6;
  padding: 1vw;
  margin: 8vh 2.7vw;
  -webkit-box-shadow: 4px 6px 30px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 6px 30px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 6px 30px -5px rgba(0, 0, 0, 0.75);
}

@media (min-width: 992px) {
  .gol {
    padding: 1vw;
    margin: 5vh 25.7vw;
    font-size: 1.2vw;
  }
}